
@media screen and (max-width: 800px) {
    * {
        box-sizing: border-box;
    }
}

#header{
    text-align: center;
    border: 0.2em groove #57BC90;
    background-color: #e7e2e2;
    color:black;
    margin: 0.625em;
    font-family: "Times New Roman","Big Caslon", "Goudy Old Style", Palatino,serif;
}

#header h1 {
    font-size: 300%;
}

body {
    font-family: "Franklin Gothic Medium", "Lucida Grande", sans-serif;
    background-color:#015249;
}

#leftBlock {
    display:none;
}


#rightBlock {
    display: block;
    float:none;
    width: 100%;
    padding: 0.625em;
    margin-bottom: .625em;
    border: 0.2em solid white;
    background-color:#57BC90;
    color: white;
}


#centerBlock {
    margin: auto;
    width: 100%;
    padding: 0.625em;
    border: 0.2em groove #57BC90;
    background-color: #e7e2e2;
    color:black;
    min-width: 200px;
}

#centerBlock h1,h2,h3,h4 {
    font-family: "Times New Roman","Big Caslon", "Goudy Old Style", Palatino,serif;
}


td a:link{
    color:white;
    font-weight: bold;
    text-decoration: none;
}

td a:visited{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


td a:hover{
    color: #015249;
    font-weight: bold;
    text-decoration: underline;
}

table {
    display: table;
    width: 80%;
    margin-left: 10%;
    background-color:#57BC90;
    border: thin solid white;
    color: white;
    text-align: center;
    margin-bottom: 0.625em;


}





