
#header{
    text-align: center;
    border: 0.2em groove #A9A9A9;
    background-color:#E8EAE7;
    color:black;
    margin: 0.625em;
    font-family: "Times New Roman","Big Caslon", "Goudy Old Style", Palatino,serif;
}

#header h1 {
    font-size: 300%;
}

body {
    font-family: "Franklin Gothic Medium", "Lucida Grande", sans-serif;
    background-color:#EFEFEF;
}

#leftBlock {
    float: left;
    width: 10%;
    padding: 0.625em;
    border: 0.2em solid #FF3B3F;
    background-color:#CAEBF2;
    color:#414141;
}

#leftBlock ul{
    list-style-type: none;
    padding-left: 0px;
}



#rightBlock {
    float:right;
    width: 20%;
    padding: 0.625em;
    border: 0.2em solid #FF3B3F;
    background-color:#CAEBF2;
    color: #414141;
}


#centerBlock {
    margin-left: 15%;
    margin-right: 25%;
    padding: 0.625em;
    border: 0.2em groove #A9A9A9;
    color:black;
    min-width: 200px;
}



#leftBlock a:link{
    color:#414141;
    font-weight: bold;
    text-decoration: none;
}

#leftBlock a:visited{
    color: #414141;
    text-decoration: none;
    font-weight: bold;
}


#leftBlock a:hover{
    color: #FF3B3F;
    font-weight: bold;
    text-decoration: underline;
}

table {
    display: none;
}



