
@media screen and (max-width: 800px) {
    * {
        box-sizing: border-box;
    }
}

#header{
    text-align: center;
    border: 0.2em groove #A9A9A9;
    background-color:#E8EAE7;
    color:black;
    margin: 0.625em;
    font-family: "Times New Roman","Big Caslon", "Goudy Old Style", Palatino,serif;
}

#header h1 {
    font-size: 300%;
}

body {
    font-family: "Franklin Gothic Medium", "Lucida Grande", sans-serif;
    background-color:#EFEFEF;
}

#leftBlock {
    display:none;
}


#rightBlock {
    display: block;
    float:none;
    width: 100%;
    padding: 0.625em;
    margin-bottom: .625em;
    border: 0.2em solid #FF3B3F;
    background-color:#CAEBF2;
    color: #414141;
}


#centerBlock {
    margin: auto;
    width: 100%;
    padding: 0.625em;
    border: 0.2em groove #A9A9A9;
    color:black;
    min-width: 200px;
}


td a:link{
    color:#414141;
    font-weight: bold;
    text-decoration: none;
}

td a:visited{
    color: #414141;
    text-decoration: none;
    font-weight: bold;
}


td a:hover{
    color: #FF3B3F;
    font-weight: bold;
    text-decoration: underline;
}

table {
    display: table;
    width: 100%;
    border: thin solid #414141;
    text-align: center;
    margin-bottom: 0.625em;


}

/*
    Still to do: Make print style sheet, figure out left/right margins for small screen table,
    fix colors.
*/




