header {
    font-family: "Times New Roman", Georgia, serif;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

nav {
    font-size: 150%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkred;
    text-decoration: none;
}
br {
    clear: both;
}

.leftPic {
    float: left;
    margin: 5px;
}

.rightPic {
    float: right;
    margin: 1em;
}

main {
    font-family: Helvetica, Arial, sans-serif;
}

