@media screen and (max-width: 1000px) {
    * {
        box-sizing: border-box;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #BC4639;
    font-family: 'Cabin', "Trebuchet MS", sans-serif;
}

body h1, body h2, body h3{
    font-family: 'Roboto Condensed', Tahoma, Arial, sans-serif;
}

#header {
    background-color: #4285F4;
    width: 100%;
    margin-top: 0;
    color: #F3E0DC;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: center;
}





#titleBlock {
    background-color: #F3E0DC;
    margin-bottom: 10px;
    font-size: 200%;
    padding: 20px;
    color: #31120b;
    font-family: 'Roboto Condensed', Tahoma, Arial, sans-serif;
}



#section3 {

    float:none;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px;
    background-image: linear-gradient(to top,#D4A59A, #F3E0DC);
    color: #31120b;
    margin-bottom: 20px;
    text-align: center;
}
#section5 {
    display: none;
}

#section3 a:link, #section3 a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #5C2018;
    border: 2px solid transparent;
}

#section3 a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #4285F4;
    border: 2px solid transparent;
}

#section5v2 a:link, #section5v2 a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #5C2018;
    border: 2px solid transparent;
    padding: 5px;
}

#section5v2 a:hover {
    font-weight: bold;
    color: #F3E0DC;
    border: 2px solid #BC4639;
    background-color: #4285F4;
    padding: 5px;
}

#section5v2 {
    display: block;
    float:none;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px;
    background-image: linear-gradient(to top,#D4A59A, #F3E0DC);
    color: #31120b;
    margin-bottom: 20px;
    margin-top: 25px;
    text-align: center;
}

#section4 {
    margin: auto;
    width: 100%;
    padding: 15px;
    background-image: linear-gradient(to top,#D4A59A, #F3E0DC);
    color: #31120b;
}

#section4 h2 {
    font-size: 200%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#section3 ul, #section5v2 ul{
    list-style-type: none;
    padding-left: 0px;
}

#section3 li, #section5v2 li{
    padding-top:10px;
}

#section6 {
    margin:auto;
    background-image: linear-gradient(to top,#D4A59A, #F3E0DC);
    padding: 10px;
    color: #31120b;
}

#section6 h2{
    font-size: 200%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Roboto Condensed', Sans-Serif;

}

#section7 {
    display: none;
}

#section6 h1, h2 {
    font-size: 150%;
}

#section8 {
    width: 100%;
    background-color: #F3E0DC;
    padding: 20px;
    color: #5C2018;
    font-size: 150%;
}

#section9 {
    background-color: #4285F4;
    padding: 20px;
    color: #F3E0DC;
}

#section9 h3 {
    padding-bottom: 10px
}

#section10 {
    padding: 20px;
    color: #F3E0DC;
}

br {
    clear: both;
}

.center {
    text-align: center;
}

.leftPic {
    float: left;
    margin-right: 20px;
}

.rightPic {
    float: right;
    margin: 20px;
}

#section6Button {
    padding-top: 40px;
}

#section6Button a:link, #section6Button a:visited {
    background-color: rgb(66, 133, 244);
    color: #F3E0DC;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 150%;
    border-radius: 10px;
}

#section6Button a:hover {
    background-color: rgba(66, 133, 244, .75);
}





