* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #BC4639;
    font-family: "Times New Roman", serif;
}

body h1, body h2, body h3{
    font-family: "Times New Roman", serif;
}

#header {
    display: none;
}


#titleBlock {
    background-color: #F3E0DC;
    margin-bottom: 10px;
    font-size: 200%;
    padding: 20px;
    color: black;
    font-family: "Times New Roman", serif;
    text-align: center;
}



#section3 {
    display: none;
}
#section5 {
    display: none;
}

#section5v2 {
    display: none;
}


#section4 {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    color: black;
    margin-bottom: 20px;
}

#section4 h2 {
    font-size: 200%;
    padding-top: 10px;
    padding-bottom: 10px;
}



#section6 {
    margin: auto;
    padding: 10px;
    margin-top:25px;
    color: black;

}

#section6 h2{
    font-size: 200%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Times New Roman", serif;

}

#section7 {
    display: none;
}

#section6 h1, h2 {
    font-size: 150%;
}

#section8 {
    display: none;
}

#section9 {
    display: none;
}


#section10 {
    display: none;
}

br {
    display: none;
}

.center {
    text-align: left;
}

.leftPic {
    display: none;
}

.rightPic {
    display: none;
}

#section6Button {
    display: none;
}






