
#header{
    text-align: center;
    border: 0.2em groove #94987D;
    background-color:#E8EAE7;
    color:black;
    margin: 0.625em;
    font-family: "Times New Roman","Big Caslon", "Goudy Old Style", Palatino,serif;
}

#header h1 {
    font-size: 300%;
}

#header h2 {
    font-size: 200%;
}

body {
    font-family: "Franklin Gothic Medium", "Lucida Grande", sans-serif;
    background-color:#E8EAE7;
}

#leftBlock {
    float: left;
    width: 9.375em;
    min-width: 9.375em;
    padding: 0.625em;
    border: 0.2em solid #94987D;
    background-color:#D07C60;
    color:white;
    list-style-type: none;
}

#leftBlock ul{
    list-style-type: none;
    padding-left: 0px;
}

#leftInner {
    border: 0.125em solid #94987D;
    background-color:#F0CAB7;
    /*padding: 0.125em*/
    padding: 0.5em;
    color: black;
}

#rightBlock {
    float:right;
    width: 12.5625em;
    min-width: 12.5625em;
    padding: 0.625em;
    border: 0.2em solid #94987D;
    background-color:#D07C60;
    color:white;
}

#rightBlock ul{
    list-style-type: none;
    padding-left: 0px;
}

#centerBlock {
    margin-left: 11.5625em;
    margin-right: 14.75em;
    padding: 0.625em;
    border: 0.2em groove #94987D;
    color:black;
    min-width: 200px;
}


#leftBlock a:link, #rightBlock a:link{
    color:white;
    font-weight: bold;
    text-decoration: none;
}

#leftBlock a:visited, #rightBlock a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


#leftBlock a:hover, #rightBlock a:hover {
    background-color: #94987D;
    font-weight: bold;
    border: 1px solid #F0CAB7;
}


.rightPic {
    float: right;
    margin: 1.25em;
    border: none;
}

#centerBlock a:link {
    color: #D07C60;
}

#centerBlock a:visited {
    color: #D07C60;
}

#centerBlock a:hover {
    color: white;
    background-color: #D07C60;
    border: 1px solid #94987D;

}

.printstuff {
    display:none;
}