#header{
    text-align: center;
    border: 1px solid black;
    background-color:lightgreen;
    color:black;
    margin: 10px;
    font-family: "Big Caslon", "Goudy Old Style", Palatino,"Times New Roman",serif;
}

#header h1 {
    font-size: 300%;
}

#header h2 {
    font-size: 200%;
}

body {
    font-family: "Franklin Gothic Medium", "Lucida Grande", sans-serif;
}

#leftBlock {
    float: left;
    width: 150px;
    min-width: 150px;
    padding: 10px;
    border: 2px solid black;
    background-color:lightgreen;
    color:black;
    list-style-type: none;
}

#leftBlock ul{
    list-style-type: none;
    padding-left: 0px;
}

#leftInner {
    border: 2px solid black;
    background-color:lightcoral;
    padding: 5px;
}

#rightBlock {
    float:right;
    width: 265px;
    min-width: 265px;
    padding: 10px;
    border: 2px solid black;
    background-color:lightgreen;
    color:black;
}

#rightBlock ul{
    list-style-type: none;
    padding-left: 0px;
}

#centerBlock {
    margin-left: 185px;
    margin-right: 300px;
    padding: 10px;
    border: 2px solid black;
    background-color:lightgreen;
    color:black;
    min-width: 200px;
}

